Package: bose
Version: 0.1.0
Replaces: bose
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Markus Haldorsen <markus@futurehome.no>
Description: Bose adapter for futurehome system 
